<h1>Welcome to {{ title }}!</h1>

<app-token-receive (didReceiveToken)="onDidReceiveTokenHandler($event)"></app-token-receive>
<app-token-display [tokens]="tokens"></app-token-display>

<button (click)="generateToken()">Generate token</button>
